<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="ERROR">
    <Appenders >
        <File name="file"  type="RollingFile" fileName="/logs/itnetsoft_error.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <root level="error">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
    </Loggers>
</Configuration>
